@{
    ViewBag.Title = "Polizas";
}

<div class="jumbotron">
    <h1>GAPS</h1>
    <p class="lead">En la actualidad tener una póliza de seguros es de suma importancia ya que puede ayudarnos a que los momentos dificiles sean más llevaderos..</p>
    <p><a href="https://www.growthaccelerationpartners.com/" class="btn btn-primary btn-lg">Conozca más acerca de nosotros &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Póliza de terremoto.</h2>
        <p>
           Las pólizas de terremoto que se manejan actualmente en el mercado cubren un 80% del siniestro y con un deducible del 40% lo que hace que las mismas no sean atractivas pero con GAP Seguros el deducible es del 10%.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Póliza de incendio</h2>
        <p>Lás polizas de incendio que manejamos además de cubrir el bien, se cubre el menaje que tenga la propiedad adentro basandonos en una  inspección cada 6 meses.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Póliza de robo</h2>
        <p>Al tener esta póliza se asegura sus bienes, pertenencias y dinero para vivir en paz.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>